##################################
### UiPath Ignore Folders      ###
##################################
## Ignore .objects folder
## Ignore .local folder
## Ignore .settings folder
## Ignore .tmh folder

## .local
!.local/*
## /.local
!/.local/*
!.local/.analysis
!.local/.analysis/*
!/.local/.analysis
!/.local/.analysis/*
.settings
.settings/*
/.settings
/.settings/*
.objects
.objects/*
/.objects
/.objects/*
.tmh
.tmh/*
/.tmh
/.tmh/*
~*